<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Chi tiết người dùng</title>
    <link th:href="@{/css/homeAdmin.css}" rel="stylesheet">
    <link th:href="@{/css/dataTable.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script th:src="@{/js/alert.js}"></script>
</head>
<body class="bg-[#d3e4f5] min-h-screen overflow-y-auto">
<!-- Include header fragment -->
<div th:replace="admin/fragments/sidebar :: sidebar"></div>
<div th:replace="admin/fragments/header :: header"></div>


<div class="flex">
    <!-- Sidebar -->

    <main class="flex-1 p-8 w-[80%] justify-end">
        <section class="p-4 md:p-6 flex flex-col gap-6 max-w-7xl w-full flex-grow bg-blue-50">

            <div class="max-w-6xl w-full mx-auto bg-white rounded-lg shadow-lg flex flex-col md:flex-row overflow-hidden">

                <!-- Left half: User detail info -->
                <section class="md:w-1/2 p-8 flex flex-col justify-center space-y-6 ">
                    <h1 class="text-3xl font-semibold text-gray-900">
                        Chi tiết người dùng
                    </h1>
                    <div class="space-y-4">
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Họ và tên</h2>
                            <p th:text="${user.fullname}" class="text-lg text-gray-800" id="fullname"></p>
                        </div>
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Số điện thoại</h2>
                            <p th:text="${user.phonenumber}" class="text-lg text-gray-800" id="phonenumber"></p>
                        </div>
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Email</h2>
                            <p th:text="${user.email}" class="text-lg text-gray-800" id="email"></p>
                        </div>
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Giới tính</h2>
                            <p class="text-lg text-gray-800" id="gender" th:switch="${user.gender}">
                                <span th:case="'MALE'">Nam</span>
                                <span th:case="'FEMALE'">Nữ</span>
                                <span th:case="*">Khác</span>
                            </p>
                        </div>
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Vai trò</h2>
                            <p class="text-lg text-gray-800" id="role" th:switch="${user.role.name}">
                                <span th:case="'ADMIN'">Quản trị viên</span>
                                <span th:case="'RECEPTIONIST'">Nhân viên tiếp nhận</span>
                                <span th:case="'DOCTOR'">Bác sĩ</span>
                                <span th:case="'PATIENT'">Bệnh nhân</span>
                                <span th:case="*">Không xác định</span>
                            </p>
                        </div>
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Trạng thái</h2>
                            <p class="text-lg text-gray-800" id="status" th:switch="${user.status}">
                                <span th:case="'active'">Đang hoạt động</span>
                                <span th:case="'inactive'">Đã khóa</span>
                                <span th:case="*">Không xác định</span>
                            </p>
                        </div>
                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Ngày tạo</h2>
                            <p class="text-lg text-gray-800" id="createdAt"
                               th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm:ss')}">
                                25-05-2025 22:03:58
                            </p>
                        </div>

                        <div>
                            <h2 class="text-sm font-medium text-gray-500 uppercase">Ngày cập nhật</h2>
                            <p class="text-lg text-gray-800" id="updatedAt"
                               th:text="${#temporals.format(user.updatedAt, 'dd-MM-yyyy HH:mm:ss')}">
                                25-05-2025 22:03:58
                            </p>
                        </div>
                    </div>
                </section>

                <section class="md:w-1/2 bg-gray-100 flex items-start justify-center p-8"
                         th:switch="${user.role.name}">

                    <div th:case="'DOCTOR'" th:insert="admin/manageAccount/views_detail_user :: detailDoctor"></div>

                    <div th:case="'PATIENT'" th:insert="admin/manageAccount/views_detail_user :: detailPatient"></div>

                    <div th:case="*" th:insert="admin/manageAccount/views_detail_user :: detailOther"></div>
                </section>
            </div>
            <a class="text-blue-600 hover:text-blue-800 font-semibold items-center gap-2" href="/users">
                <i class="fas fa-arrow-left">
                </i>
                Quay lại danh sách
            </a>
        </section>
    </main>
</div>
<footer class="w-full bg-white shadow mt-auto">
    <div th:replace="admin/fragments/footer :: footer"></div>
</footer>

<script th:src="@{/js/admin/homeAdmin.js}"></script>
<script th:src="@{/js/admin/dataTable.js}"></script>

</body>
</html>